@charset "utf-8";
/* CSS Document */

#cabeceraweb {
	background-color: #2152D8;
}

#navegacionprincipal {
	background-color: #F3070B;
}

#barralteral {
	background-color: #1EC817;
	float: left;
	height: 1180px;
}

#contenidoprincipal {
	background-color: #865D92;
	margin-left: 200px;
	padding-left: 15px;
	padding-top: 15px;
}

#pieprincipal {
	background-color: #DCF71B;
	clear: both;
	margin-top: 50px;
}

li {
	background-color: #A9B310;
	display: inline;
}